/* When validated the css, it said that "font-optical-sizing: auto;" doesnt exist. but in the embed code from google fonts, its included, so left it as is */

:root {
    --page-color: #f3f0e9;
    --dark-yellow: #966f2c;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    z-index: 10;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
}
  
.skip-link:focus {
    top: 10px;
}

body {
    background-color: var(--page-color);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}

nav {
    display: none;
}

h1 {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
}

h2 {
    font-size: 1.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 1.375rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.hdrlogo {
    margin: 15px 0;
}

.headercontentbox {
    margin: 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    max-width: 1200px;
}

.menuicon {
    height: 35px;
    align-self: center;
    margin-left: auto;
}

.section1 {
    position: relative; 
    padding: 4rem 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;

    z-index: -1;
}

.secnblock1 h1, p, .btn {
    text-align: center;
    margin: 15px 15px;
    color: white;
}

.secnblock1 {
    margin-top: 100px;
    align-items: center;
}

.btn button {
    color: black;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 2.5rem;
    padding: 0 1.6rem;
    background-color: white;
    border: 2px solid white;
    margin-top: 12px;
    font-size: 18px;
}

.btn button:hover, .btn button:focus {
    color: white;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 2.5rem;
    padding: 0 1.6rem;
    background-color: var(--dark-yellow);
    border: 2px solid white;
    margin-top: 12px;
    font-size: 18px;
}

.secnblock2 {
    margin: 30px 10px;
    margin-top: 60px;
}

.h2small {
    font-size: 20px;
    color: #d69e3d;
    margin-bottom: 15px;
}

.secnblock2 h2 {
    text-transform: uppercase;
}

.picblock2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;
    margin: 20px;
    margin-bottom: 70px;
}

.picblock2 img{
    width: 100%;
}

.pic1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.section3 h2, .section3 h3, .section3 p {
    text-align: center;
}

.section3 p {
    color: black;
}

.topic3 {
    margin-bottom: 20px;
}

.secn3img {
    display: flex;
    justify-content: center;
}

.secnblock3 img {
    width: 40%;

}

.block3 {
    padding: 21px 0;
}

.block3 h3 {
    margin-top: 12px;
}

.block3 p {
    line-height: 1.5rem;
}

.section3 {
    margin-bottom: 60px;
}

.section4 h2, p, .btn4_1, .btn4_2 {
    text-align: center;
}

.whitetxt {
    color: white;
}

.section4 {
    position: relative; 
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.section4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/coffee-shop.jpeg);
    background-position: center;
    background-size: cover;

    z-index: -1;
}


.btn4_1 button {
    color: black;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.5rem;
    padding: 0 40px;
    background-color: white;
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.btn4_1 button:hover, .btn4_1 button:focus{
    color: white;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.5rem;
    padding: 0 40px;
    background-color: var(--dark-yellow);
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.secnblock4 {
    margin: 0 30px;
}

.block4 {
    margin-top: 48px;
}

.btn4_2 button {
    color: white;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.5rem;
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.btn4_2 button:hover, .btn4_2 button:focus {
    color: black;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.5rem;
    padding: 0 40px;
    background-color: white;
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.secnblock5 {
    margin: 60px 18px;
}

.secnblock5 img {
    width: 100%;
    margin-bottom: 32px;
}

.secnblock5 p {
    color: black;
    text-align: left;
    margin: 20px 0;
}

.btn5 button {
    color: white;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.7rem;
    padding: 0 40px;
    background-color: black;
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.btn5 button:hover, .btn5 button:focus  {
    color: white;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 3.7rem;
    padding: 0 40px;
    background-color: var(--dark-yellow);
    border: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.section6 {
    background-color: black;
}

.secnblock6 {
    padding: 0 18px;
    padding-top: 60px;
}

.topic6 {
    padding-bottom: 20px;
}

.testiblock1 p, .testiblock1 h2, .testiblock2 p, .testiblock2 h2, .testiblock3 p, .testiblock3 h2 {
    text-align: left;
    margin-left: 20px;
    margin-right: 80px;
}

.section6 {
    position: relative; 
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.3);

}

.section6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    z-index: -1;
}

.testiblock1, .testiblock2, .testiblock3 {
    position: relative; 
}

.testiblock1 {
    margin-top: 24px;
}

.testiblock2, .testiblock3 {
    margin-top: 32px;
}

.testiblock1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/testimonial-1.jpeg);
    background-position: center;
    background-size: cover;

    z-index: -1;
}

.testiblock2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/testimonial-2.jpeg);
    background-position: center;
    background-size: cover;

    z-index: -1;
}

.testiblock3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/testimonial-3.jpeg);
    background-position: center;
    background-size: cover;

    z-index: -1;
}

.testicontent {
    padding-top: 380px;
    padding-bottom: 20px;
}

footer {
    height: 184px;
    background-color: black;
}

footer div {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 18px;
    height: 44px;
    align-content: center;
}

footer p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 60px;
    }

    h2 {
        font-size: 2.375rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1rem;
    }

    .secnblock1 {
        margin-right: 50px;
        margin-left: 50px;
    }

    .btn button {
        height: 3.2rem;
    }

    .btn button:hover, .btn button:focus {
        height: 3.2rem;
    }

    .secnblock2 {
        margin: 80px 450px 20px 22px;
        justify-self: center;
    }

    .picblock2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 22px;
        margin: 22px;
        margin-bottom: 70px;
    }

    .secnblock3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 22px;
        margin: 22px;
        margin-bottom: 70px;
    }

    .tab2_1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .tab2_2 {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .tab2_3 {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }

    .secnblock4 {
        margin: 80px 22px;
    }

    .secnblock5 {
        margin-right: 22px;
        margin-left: 22px;
    }

    .secn6grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 22px;
        margin: 22px;
        margin-bottom: 70px;
    }

    .testiblock1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .testiblock2 {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .testiblock3 {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 3.875rem;
        line-height: 75px;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    header {
        max-width: 1200px;
        justify-self: center;
    }

    .headercontentbox {
        padding: 0 20px;
    }

    nav {
        margin-left: auto;
        display: flex;
    }

    nav li {
        color: white;
        padding: 0 16px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    nav li a {
        text-decoration: none;
        color: white;
    }

    @keyframes hoveranim {
        0% {
            background-color: rgba(255, 255, 255, 0);
            color: white;          
        }

        100% {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);  
        }
    }

    nav li a:hover, nav li a:focus {
        animation-name: hoveranim;
        animation-duration: 1s;
    }

    .menuicon {
        display: none;
    }

    .section1 {
        padding: 150px 110px;
    }

    .secnblock1 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px 0;
    }

    .secnblock1 h1, .secnblock1 p {
        padding: 0 150px;
    }

    .section2 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section3 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .secnblock3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .tab2_1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .tab2_2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .tab2_3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .secnblock4 {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .secnblock5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26px;
        margin-top: 160px;
        margin-bottom: 160px;        
    }

    .block4 {
        margin-top: 0;
    }

    .section5 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .secnblock6 {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .secn6grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .testiblock1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .testiblock2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .testiblock3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .topic6 {
        padding: 0 18px 20px 18px;
    }

    footer div {
        max-width: 1200px;
        margin: 0 auto;

    }
}

/* Extra work done using javascript to make the hamburger menu work. For this part, I used the help from internet and AI */

@media screen and (max-width: 1099px) {
    nav {
        display: block;
    }

    .sidenav {
        position: fixed;
        top: 0;
        right: -250px;
        height: 100%;
        width: 250px;
        background-color: #fff;
        z-index: 10;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(0,0,0,0.3);
        padding-top: 80px;
    }

    .sidenav.active {
        right: 0;
    }

    .sidenav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    .sidenav li {
        margin: 20px 20px;
    }
    
    .sidenav a {
        color: black;
        font-size: 1.2rem;
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-weight: 700;
    }
}